<div *ngIf="loaded === true" class="Adventurer_Page">
  <div class="UserDetails">
    <img class="BorderBoxLong"src="/MenuBox-X-Long.png" />
    <div class="UsernameLevelAndFollows">

      <div class="iconandcategory">
        <div class="iconcontainer">
          <img [src]="profilePic" />
        </div>
        <p>{{user_name}}</p>
      </div>

      <div class="FollowsContainer">
        <p class="followers">{{numberOfFollowers}} followers</p>
        <button *ngIf="loggedIn !== null && userId !== loggedIn.id.toString()" class="FollowButton" (click)="followButton()">
          <div class="FollowIconContainer">
            <img [src]="this.following ? '/Unfollow.png' : '/Follow.png'"  class="FollowIcon" />
          </div>
        </button>
      </div>

      <div class="lvliconandlevel">
        <div class="lvliconcontainer">
          <img src="/Levelicon.png" />
        </div>
        <p>{{level}}</p>
      </div>

    </div>

    <div class="ClassAndTitle">
      <h1 class="class_title">Class</h1>
      <div class="iconandcategory">
        <div class="iconcontainer">
          <img *ngIf="className === 'Warrior'" src="/sword-silhouette.png" />
          <img *ngIf="className === 'Scholar'" src="/open-book-icon-symbol-vector-free-vector-silhouette-graphics-ai-open-book-silhouette-png-800_800.png" />
        </div>
        <p>{{className}}</p>
      </div>
    </div>
    
  </div>
  <div class="statsandbanner">
    <div class=Adventurer_View>
      <div  class="Class_Stats">

        <div class="Stat_View">
          <img src="/MenuBox-Y.png" />
          <div class="statsSection">
            <div class="statsContainer" *ngFor="let stat of stats">
              <div class="Stats_Cont" >
                <p class="Stat_Name">{{stat.name}}</p>
                <p class="Stat_Value">{{stat.value}}</p>
                <div class="Stat_Bar">
                  <div [style.width]="(150 * (stat.value/100)) + 'px'" class="Stat_Amount"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="bannerPicContainer">
      <img [src]="bannerPic" />
    </div>
  </div>

  <div class="QuestLog">
    <div class="iconcontainer">
      <img src="/quill-pen-silhouette.png" />
    </div>
    <p>Quest Log</p>
  </div>

  <div class="QuestGrid" *ngIf="listOfQuests.length > 0">
    <div class="QuestContainer" *ngFor="let quest of listOfQuests">
      <a [routerLink]="'/quest/' + quest.questId">
        <button>
          <div class="QuestTitleContainer">
            <p>{{quest.questTitle}}</p>
          </div>
          <div class="QuestPreviewContainer">
            <img *ngIf="quest.questPreviewType === 'image'" src={{quest.questPreview}}/>
            <video *ngIf="quest.questPreviewType === 'video'">
              <source src={{quest.questPreview}}/>
            </video>
          </div>
        </button>
      </a>
    </div>
  </div>
</div>

  <div class="loadingscreen" *ngIf="loaded === false">
    <img [src]="loadingimage"/>
  </div>

