@font-face {
  font-family: KHFont;
  src: url('../../assets/fonts/Kingdom_Hearts_Font.ttf');
}

.Adventurer_Page {
  height : fit-content
}

@media (max-width : 1439px) {
  .Adventurer_Page {
    margin-top: 50px;
  }
}

@media (min-width : 1440px) {
  .Adventurer_Page {
    margin-top: 120px;
  }
}

.Adventurer_View {
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: rgb(0, 0, 0);
}

.Class_Stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1%;
    margin-right: 50px;
    font-size: 20px;
}

.Stat_Bar {
    background-color: grey;
    border-color: rgb(56, 56, 56);
    border-width: 2px;
    border-style: solid;
}

@media (max-width : 1439px) {
  .Stat_Bar {
    height : 10px;
    width : 75px;
  }
}

@media (min-width : 1440px) {
  .Stat_Bar {
    height : 20px;
    width : 150px;
  }
}

.Stat_Amount {
    height : 100%;
    background-color: rgb(87, 157, 236);
}

.iconandcategory {
  display : flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1%;
  font-family: KHFont;
  width : fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 55px;
  color: white;
}

@media (max-width : 1439px) {
  .iconandcategory {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 25px;
    height: fit-content;
  }
}

@media (min-width : 1440px) {
  .iconandcategory {
    font-size: 50px;
  }
}

.iconcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1%;
}

@media (max-width : 1439px) {
  .iconcontainer {
    width : 50px;
    height : 50px;
  }
}

@media (min-width : 1440px) {
  .iconcontainer {
    width : 100px;
    height : 100px;
  }
}

.iconcontainer img {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width : 100%;
  height : 100%;
  object-fit: contain;
}

.sectionSeparator {
  height: 5px;
  width : 100%;
  background-color: white;
  margin-top : 10px;
  margin-bottom : 10px;
  padding: 0px 25px 0px 25px;
}

@media (max-width : 1439px) {
  .sectionSeparator {
    width : 50%;
  }
}

@media (min-width : 1440px) {
  .sectionSeparator {
    width : 100%;
  }
}

.statsSection {
  width : 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px 25px 25px;
  color: white;
  margin-bottom: 25px;
  margin-top: 0;
  z-index : 50;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width : 1439px) {
  .statsSection {
    width : 50%;
  }
}

@media (min-width : 1440px) {
  .statsSection {
    width : 100%;
  }
}

.bannerPicContainer{
  width : 40%;
  height : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bannerPicContainer img{
  width : 100%;
  height : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.statsandbanner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5%;
  height: fit-content;
}

.lvliconandlevel {
  display : flex;
  flex-direction: row;
  align-items: center;
  font-family: KHFont;
  margin-left: 1%;
  margin-top: 15px;
  margin-bottom: 15px;
  width : fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 55px;
  color : white;
}

.ClassAndTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : fit-content;
  height : fit-content;
  color: white;
  padding: 15px 15px 15px 15px;
  border-radius: 55px;
  position: absolute;
  top : 40%;
  left : 5%;
}

.ClassAndTitle .iconandcategory {
  box-shadow: 12px 12px 5px 5px rgb(0, 0 , 0, 0);
}

@media (max-width : 1439px) {
  .lvliconandlevel {
    position: absolute;
    font-size: 25px;
    top: 0;
    left : 85%;
    transform: translateX(-85%);
  }
}

@media (min-width : 1440px) {
  .lvliconandlevel {
    font-size: 45px;
  }
}

.lvliconcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 1%;
}

@media (max-width : 1439px) {
  .lvliconcontainer {
    width : 50px;
    height : 50px;
  }
}

@media (min-width : 1440px) {
  .lvliconcontainer {
    width : 100px;
    height : 100px;
  }
}

.lvliconcontainer img {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width : 100%;
  height : 100%;
  object-fit: contain;
}

.loadingscreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.Stat_Name, .Stat_Value {
  font-family: KHFont;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width : 1439px) {
  .Stat_Name, .Stat_Value {
    font-size: 25px;
  }
}

@media (min-width : 1440px) {
  .Stat_Name, .Stat_Value {
    font-size: 45px;
  }
}

.class_title {
  font-family: KHFont;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width : 1439px) {
  .class_title {
    font-size: 30px;
  }
}

@media (min-width : 1440px) {
  .class_title {
    font-size: 60px;
  }
}

.QuestGrid {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  gap: 50px 50px;
  width : 100;
  justify-content: center;
}

@media (max-width : 1439px) {
  .QuestGrid {
    grid-template-columns: 1fr;
  }
}

@media (min-width : 1440px) {
  .QuestGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.QuestPreviewContainer {
  width: 300px;
  height : 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27, 1);
}

.QuestPreviewContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.QuestPreviewContainer video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.QuestContainer {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QuestContainer button {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 27, 1);
  color: white;
  border-radius: 5px;
  border-width: 5px;
  border-color: black;
  text-decoration: none;
}

.QuestTitleContainer {
  font-family: KHFont;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 300px;
  text-decoration: none;
}

@media (max-width : 1439px) {
  .loadingscreen img{
      width: 50%;
      height : 50%;
  }
}

@media (min-width : 1440px) {
  .loadingscreen img{

  }
}

.Stat_View {
  position: relative;
  top : 50%;
  animation: expandHeight 2.0s both;
}

@media (max-width : 1439px) {
  .Stat_View {
    width : 250px;
    height : 400px;
  }
}

@media (min-width : 1440px) {
  .Stat_View {
    width : 450px;
    height : 650px;
  }
}

.Stat_View img {
  position: absolute;
  width : 100%;
  height : 100%;
  object-fit: contain;
}

.UserDetails {
  position: relative;
  animation: expandWidth 2.0s both;
}

@media (max-width : 1439px) {
  .UserDetails {
    width : 300px;
    padding: 10px 10px 10px 10px;
    margin-top: 100px;
  }
}

@media (min-width : 1440px) {
  .UserDetails {
    width : 1200px;
  }
}

.BorderBoxLong {
  position: relative;
  width : 100%;
  height : 100%;
  object-fit: contain;
}

@media (max-width : 1439px) {
  .BorderBoxLong {
    visibility: hidden;
  }
}

@media (min-width : 1440px) {
  .BorderBoxLong {
    visibility: visible;
  }
}

.UsernameLevelAndFollows {
  position: absolute;
  z-index : 50;
  width: 90%;
  
}

@media (max-width : 1439px) {
  .UsernameLevelAndFollows {
    top : 0px;
    left : 0px;
  }
}

@media (min-width : 1440px) {
  .UsernameLevelAndFollows {
    top : 5%;
    left : 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.QuestLog {
  display : flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1%;
  font-family: KHFont;
  width : fit-content;
  padding: 10px 10px 10px 10px;
  border-radius: 55px;
  color: white;
  background-color: rgb(27, 27, 27, 1);
  margin-bottom: 50px;
  font-size: 35px;
}



@media (max-width : 1439px) {
  @keyframes expandHeight {
    0% {
      height: 0px;
      opacity: 0;
    }
    100% {
      height: 400px;
      opacity: 1;
    }
  }
}

@media (min-width : 1440px) {
  @keyframes expandHeight {
    0% {
      height: 0px;
      opacity: 0;
    }
    100% {
      height: 625px;
      opacity: 1;
    }
  }
}

@media (max-width : 1439px) {
  @keyframes expandWidth {
    0% {
      width: 0px;
      opacity: 0;
    }
    100% {
      width: 450px;
      opacity: 1;
    }
  }

}

@media (min-width : 1440px) {
  @keyframes expandWidth {
    0% {
      width: 0px;
      opacity: 0;
    }
    100% {
      width: 1200px;
      opacity: 1;
    }
  }

}

.FollowButton {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px;
  border-style: none;
}

.FollowIconContainer {
  width: 50px;
  height: 50px;
}

.FollowIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 100%;
  height : 100%;
  object-fit: contain;
}

.FollowsContainer {
  font-family: KHFont;
  color: white;
}

@media (max-width : 1439px) {
  .FollowsContainer {
    position: absolute;
    font-size : 25px;
    margin-top: 20px;
    width : 100px;
    top : 0px;
    left : 60%;
    transform: translateX(-60%);
  }
}

@media (min-width : 1440px) {
  .FollowsContainer {
    font-size : 50px;
    margin-top: 50px;
    width : 300px;
  }
}

.FollowButton {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px;
  border-style: none;
}

.FollowIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width : 100%;
  height : 100%;
  object-fit: contain;
}

@media (max-width : 1439px) {
  .FollowIconContainer {
    width: 25px;
    height: 25px;
  }
}

@media (min-width : 1440px) {
  .FollowIconContainer {
    width: 50px;
    height: 50px;
  }
}
