<div *ngIf="loaded === true" class="Adventurer_Page">
  <div class="iconandcategory">
    <div class="iconcontainer">
      <img [src]="profilePic" />
    </div>
    <p>{{user_name}}</p>
  </div>
  <div class="lvliconandlevel">
    <div class="lvliconcontainer">
      <img src="/Levelicon.png" />
    </div>
    <p>{{level}}</p>
  </div>
  <div class="statsandbanner">
    <div class=Adventurer_View>
      <div  class="Class_Stats">
        <h1 className="class_title">Class: </h1>
        <div class="iconandcategory">
          <div class="iconcontainer">
            <img *ngIf="className === 'Warrior'" src="/sword-silhouette.png" />
            <img *ngIf="className === 'Scholar'" src="/open-book-icon-symbol-vector-free-vector-silhouette-graphics-ai-open-book-silhouette-png-800_800.png" />
          </div>
          <p>{{className}}</p>
        </div>
        <div class="sectionSeparator"></div>

        <div class="statsSection">
          <div class="statsContainer" *ngFor="let stat of stats">
            <div class="Stats_Cont" >
              <p class="Stat_Name">{{stat.name}}</p>
              <p class="Stat_Value">{{stat.value}}</p>
              <div class="Stat_Bar">
                <div [style.width]="(150 * (stat.value/100)) + 'px'" class="Stat_Amount"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="bannerPicContainer">
      <img [src]="bannerPic" />
    </div>
  </div>
</div>

  <div class="loadingscreen" *ngIf="loaded === false">
    <img [src]="loadingimage"/>
  </div>

