<div *ngIf="loaded === true" class=Adventurer_View>
	<div *ngIf="className === 'Warrior'" class="Class_Stats">
		<h1 className="class_title">Class: Warrior</h1>

		<div class="Stats_Cont" >
			<p class="Stat_Name">Strength: </p>
			<p class="Stat_Value">{{advStrength}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advStrength/100)) + 'px'" class="Stat_Amount"></div>
			</div>
			
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">Speed: </p>
			<p class="Stat_Value">{{advSpeed}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advSpeed/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">Endurance: </p>
			<p class="Stat_Value">{{advEndurance}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advEndurance/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
	</div>
	
	<div *ngIf="className === 'Scholar'" class="Class_Stats">
		<h1 className="class_title">Class: Scholar</h1>
		<div class="Stats_Cont" >
			<p class="Stat_Name">Math: </p>
			<p class="Stat_Value">{{advMath}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advMath/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">Science: </p>
			<p class="Stat_Value">{{advScience}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advScience/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">Language: </p>
			<p class="Stat_Value">{{advLanguage}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advLanguage/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">History: </p>
			<p class="Stat_Value">{{advHistory}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advHistory/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
	</div>
	
	<div *ngIf="subClassName === 'Warrior'" class="Class_Stats">
		<h1 className="class_title">Sub Class: Warrior</h1>

		<div class="Stats_Cont" >
			<p class="Stat_Name">Strength: </p>
			<p class="Stat_Value">{{advStrength}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advStrength/100)) + 'px'" class="Stat_Amount"></div>
			</div>
			
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">Speed: </p>
			<p class="Stat_Value">{{advSpeed}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advSpeed/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">Endurance: </p>
			<p class="Stat_Value">{{advEndurance}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advEndurance/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
	</div>

	<div *ngIf="subClassName=== 'Scholar'" class="Class_Stats">
		<h1 className="class_title">Sub Class: Scholar</h1>
		<div class="Stats_Cont" >
			<p class="Stat_Name">Math: </p>
			<p class="Stat_Value">{{advMath}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advMath/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">Science: </p>
			<p class="Stat_Value">{{advScience}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advScience/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">Language: </p>
			<p class="Stat_Value">{{advLanguage}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advLanguage/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
		
		<div class="Stats_Cont" >
			<p class="Stat_Name">History: </p>
			<p class="Stat_Value">{{advHistory}}</p>
			<div class="Stat_Bar">
				<div [style.width]="(150 * (advHistory/100)) + 'px'" class="Stat_Amount"></div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="loaded === false">
	<img [src]="loadingimage"/>
</div>