@font-face {
    font-family: KHFont;
    src: url('../../assets/fonts/Kingdom_Hearts_Font.ttf');
}

.QuestPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width : 767px) {
    .QuestPage {
        margin-top: 50px;
    } 
  }
  
  @media (min-width : 768px) {
    .QuestPage {
        margin-top: 120px;
    }  
  }

.QuestContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigator {
    background-color: rgb(30, 30, 30, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-x: scroll;
}

@media (max-width : 767px) {
    .navigator {
        width : 300px;
    } 
  }
  
  @media (min-width : 768px) {
    .navigator {
        width : 800px;
    }  
  }

.IndexButton {
    border-radius: 50%;
    border-color: rgb(27, 27, 27, 1);
    border-width: 5px;
    background-color: white;
    width : 50px;
    height : 50px;
}

@media (max-width : 767px) {
    .IndexButton {
        width : 25px;
        height : 25px;
        margin-left : 5px;
        margin-right : 5px
    } 
  }
  
  @media (min-width : 768px) {
    .IndexButton {
        width : 50px;
        height : 50px;
        margin-left : 25px;
        margin-right : 25px
    }  
  }


.QuestImageContainer {
    background-color: rgb(27, 27, 27, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width : 767px) {
    .QuestImageContainer {
        width: 300px;
        height : 300px;
    } 
  }
  
  @media (min-width : 768px) {
    .QuestImageContainer {
        width : 800px;
    }  
  }

.QuestImageContainer img {
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.QuestImageContainer video {
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.DescriptionContainer {
    background-color: rgb(30, 30, 30, 1);
    width : 800px;
    height : fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color : white;
}

@media (max-width : 767px) {
    .DescriptionContainer {
        width: 300px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
    } 
  }
  
  @media (min-width : 768px) {
    .DescriptionContainer {
        width : 800px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
    }  
  }


.QuestTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: KHFont;
    margin : 0px 0px 0px 0px;
    height: fit-content;
    font-weight: normal;
}

@media (max-width : 767px) {
    .QuestTitle {
        width: 300px;
        font-size : 30px;
    } 
  }
  
  @media (min-width : 768px) {
    .QuestTitle {
        width: 800px;
        font-size : 120px;
    }  
  }

.iconandcategory {
    display : flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    margin-left: 1%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: KHFont;
    font-size: 50px;
    background-color: transparent;
    border-color: transparent;
}

@media (max-width : 767px) {
    .iconandcategory {
        font-size: 25px;
    } 
  }
  
  @media (min-width : 768px) {
    .iconandcategory {
        font-size: 50px;
    }  
  }

.iconandcategory:hover {
    color : white;
}

.iconcontainer {
    width : 100px;
    height : 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(27, 27, 27);
    margin-right: 1%;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
}

@media (max-width : 767px) {
    .iconcontainer {
        width : 50px;
        height : 50px;
    } 
  }
  
  @media (min-width : 768px) {
    .iconcontainer {
        width : 100px;
        height : 100px;
    }  
  }

.iconcontainer img {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 100%;
    height : 100%;
    object-fit: contain;
}

.loadingscreen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width : 767px) {
    .loadingscreen img{
        width: 50%;
        height : 50%;
    } 
  }
  
  @media (min-width : 768px) {
    .loadingscreen img{
        
    } 
  }

/* Width of the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Vertical scrollbar */
    height: 10px; /* Horizontal scrollbar */
  }
  
  /* Track (the area where the scrollbar sits) */
  ::-webkit-scrollbar-track {
    background: rgb(30, 30, 30, 1); /* Light gray background */
  }
  
  /* Scrollbar Handle (the moving part) */
  ::-webkit-scrollbar-thumb {
    background: #555; /* Darker gray */
    min-width: 5px;
    max-width: 10px;
  
  }
  
  /* Scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #afafaf; /* Even darker on hover */
  }
  
