<div class="LoginPage">
    <div class="LoginContainer">
        <div class="LogoContainer">
            <img src="/MyRPG.png" />
        </div>
        <div class="LoginFormContainer">
            <form class="LoginForm">
                <p class="LoginSplash">Login</p>
                <p class="LoginInstructions">Enter your username and password</p>
                <label for="EnterUsername">Username</label>
                <input name="EnterUsername" class="EnterUsername" type="text" [value]="username" (input)="updateUsername($event)" />
                <label for="EnterPassword">Password</label>
                <input name="EnterPassword" class="EnterPassword" type="password" [value]="password" (input)="updatePassword($event)" />
                <button class="Authenticate" type="button" (click)="authenticate()">Login</button>
            </form>
        </div>
        <a routerLink="/signup"><button class="signup-button" > Need an account? Signup here! </button></a>
    </div>
    <div class="YukiContainer">
        <img src="/Yuki.webp" />
    </div>
</div>
