/* You can add global styles to this file, and also import other style files */

html, body, app-root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(27, 27, 27), blueviolet);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
