<div class="NewQuestPage">
    <div class="NewQuestContainer">
        <form class="NewQuestForm">
            <label for="name">Enter title of your quest</label>
            <input type="text" class="name" name="name" (change)="updateName($event)"/>
            <label for="description">Enter description of your quest</label>
            <textarea class="description" name="description" (change)="updateDescription($event)"></textarea>
        </form>
        <p>Which stats did you improve on this quest?</p>
        <div class="StatButtonContainer">
          <button class="StatButton" (click)="updateStatsToChange($event)"id={{stat.name}} *ngFor="let stat of statsToChange" [style.backgroundColor]="stat.enabled ? 'blueviolet' : 'rgb(27, 27, 27)'">{{stat.name}}</button>
        </div>
      </div>

    <div class="QuestContentContainer">
      <div class="QuestContentEntriesContainer" *ngIf="questContent.length > 0">
        <div class="QuestContentEntries" >
            <div class="QuestContent" id={{entry[0]}} *ngFor="let entry of questContentEntries">
                <img *ngIf="entry[1].type === 'image'" src={{entry[1].url}} />
                <video *ngIf="entry[1].type === 'video'" controls width="300">
                    <source src={{entry[1].url}} type={{entry[1].file.type}}/>
                </video>
            </div>
        </div>
      </div>
      <input type="file" class="uploadbutton" #uploadbutton name="content" (change)="uploadQuestContent($event)" hidden/>
      <img src="/UploadContent.png" class="UploadContent" (click)="uploadbutton.click()" />
    </div>
</div>

<button class="submit" (click)="submitHandler()">Submit</button>


<div class="QuestLogBackground" *ngIf="submitted === true"></div>
<div class="QuestLog" *ngIf="user != null && submitted === true ">
  <div class="QuestLogContainer" *ngIf="loading === false">
    
    <P class="Username">{{user.username}}</P>

    <div class="icon">
      <div class="iconcontainer">
        <img [src]="user.profilePic" />
      </div>
    </div>

    <div class="lvliconandlevel">
      <div class="lvliconcontainer">
        <img src="/Levelicon.png" />
      </div>
      <p>{{user.level}}</p>
      <p>{{user.toNextLevel}} to next level</p>
    </div>
    <div class="LevelBar" [style.width]="screenSize > 1439 ? '500px' : '175px' ">
      <div class="LevelAmount" [style.width]="screenSize > 1439 ? ((1000 - user.toNextLevel) / 1000) * 500 + 'px' : ((1000 - user.toNextLevel) / 1000) * 175 + 'px' "></div>
    </div>
    <p class="LeveledUp" *ngIf="leveledUp === true">You have leveled up!</p>
    <audio controls autoplay [style.display]="'none'">
      <source *ngIf="leveledUp === true" src="/kh-level-up.mp3"  type="audio/mpeg">
    </audio>

    <div class="StatView">
      <img src="/MenuBox-Y.png" />
      <div class="statsSection">
        <div class="statsContainer" *ngFor="let stat of stats">
          <div class="StatsCont" >
            <p *ngIf="!statsToChangeNames.includes(stat.name)" class="Stat_Name">{{stat.name}}</p>
            <p *ngIf="statsToChangeNames.includes(stat.name)" class="Stat_Name">{{stat.name}} + 5</p>
            <p class="Stat_Value">{{stat.value}}</p>
            <div class="Stat_Bar">
              <div [style.width]="(150 * (stat.value/100)) + 'px'" class="Stat_Amount"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="ContinueButton" (click)="navigateToQuest()">Continue</button>

  </div>

  <div class="loadingscreen" *ngIf="loading === true">
    <img src="/jokerrunning.gif"/>
  </div>

</div>