@font-face {
  font-family: KHFont;
  src: url('../../assets/fonts/Kingdom_Hearts_Font.ttf');
}

.NewQuestPage {
  margin-top: 120px;
}

@media (max-width : 767px) {
  .NewQuestPage {
    margin-top: 70px;
  }
}

@media (min-width : 768px) {
  .NewQuestPage {
    margin-top: 120px;
  }
}

.NewQuestForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.UploadContent {
  
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width : 767px) {
  .UploadContent {
    width: 100px;
    height : 100px;
  } 
}

@media (min-width : 768px) {
  .UploadContent {
    width: 300px;
    height : 300px;
  } 
}



.QuestContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  padding: 50px 0px 50px 0px;
}

.QuestContentEntries {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.QuestContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgb(27, 27, 27, 1);
}

@media (max-width : 767px) {
  .QuestContent {
    width: 100px;
    height : 100px;
    margin-left: 10px;
    margin-right: 10px;
  } 
}

@media (min-width : 768px) {
  .QuestContent {
    width: 300px;
    height : 300px;
    margin-left: 50px;
    margin-right: 50px;
  } 
}

.QuestContent img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.submit {
  margin-top: 25px;
  margin-bottom: 25px;
  color : white;
  background-color: rgb(27, 27, 27, 1);
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 50px;
  border-color: rgb(27, 27, 27, 1);
  font-family: KHFont;
  border-style: solid;
}

@media (max-width : 767px) {
  .submit {
    width: 100px;
    height: 50px;
    font-size: 25px;
  } 
}

@media (min-width : 768px) {
  .submit {
    width: 200px;
    height: 100px;
    font-size: 50px;
  } 
}

.submit:hover {
  color : blueviolet;
}

.StatButton {
  color : white;
  border-radius: 50px;
  border-color: rgb(27, 27, 27, 1);
  font-family: KHFont;
  border-style: solid;
}

@media (max-width : 767px) {
  .StatButton {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
  } 
}

@media (min-width : 768px) {
  .StatButton {
    width: 200px;
    height: 100px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 50px;
  } 
}

.StatButton:hover {
  width: 220px;
  height: 120px;
}

@media (max-width : 767px) {
  .StatButton:hover { 
    width: 120px;
    height: 70px;
  } 
}

@media (min-width : 768px) {
  .StatButton:hover { 
    width: 220px;
    height: 120px;
  } 
}

label {
  font-family: KHFont;
  margin-left: 25px;
  margin-right: 25px;
}

@media (max-width : 767px) {
    label {
      font-size: 25px;
    } 
  }
  
  @media (min-width : 768px) {
    label {
      font-size: 50px;
    } 
  }

p {
  font-family: KHFont;
  margin-left: 25px;
  margin-right: 25px;
}

@media (max-width : 767px) {
  p {
    font-family: KHFont;
    font-size: 25px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (min-width : 768px) {
  p {
    font-family: KHFont;
    font-size: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

input[type="text"] {
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgb(27, 27, 27, 1);
  color: white;
}

@media (max-width : 767px) {
  input[type="text"] {
    width : 300px;
    height: 25px;
    font-size: 15px;
  } 
}

@media (min-width : 768px) {
  input[type="text"] {
    width : 500px;
    height: 50px;
    font-size: 30px;
  } 
}

.StatButtonContainer {
  width: fit-content;
  height: fit-content;
}

@media (max-width : 767px) {
  .StatButtonContainer {
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 10px 10px;
  } 
}

@media (min-width : 768px) {
  .StatButtonContainer {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
  } 
}

.description {
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgb(27, 27, 27, 1);
  color: white;
}

@media (max-width : 767px) {
  .description {
    width : 300px;
    height: 100px;
    font-size: 15px;
  } 
}

@media (min-width : 768px) {
  .description {
    width : 500px;
    height: 250px;
    font-size: 30px; 
  } 
}

.QuestLog {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) translateY(-80%);
  top: 80%;
  width: 80vw;
  height: 80vh;
  border-radius: 25px;
  z-index : 50;
  background-color: rgb(27, 27, 27, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.QuestLogContainer {
  position: absolute;
  width: 90%;
  height: 90%;
  padding: 25px 25px 25px 25px;
}

.Username {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

.LeveledUp {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.iconcontainer {
  position: absolute;
  left : 90%;
  transform: translateX(-90%) translateY(-2%);
  top : 2%;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width : 1439px){
  .iconcontainer {
    width : 50px;
    height: 50px;
  }
}

@media (min-width : 1440px){
  .iconcontainer {
    width : 100px;
    height: 100px;
  }
}


.iconcontainer img {
  width : 100%;
  height: 100%;
}

.lvliconandlevel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  width: fit-content;
}

@media (max-width : 1439px){
  .lvliconcontainer {
    width : 40px;
    height: 40px;
  }
}

@media (min-width : 1440px){
  .lvliconcontainer {
    width : 80px;
    height: 80px;
  }
}

.lvliconcontainer img {
  width : 100%;
  height: 100%;
}

.StatView {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left : 100%;
}

@media (max-width : 1439px){
  .StatView {
    width : 350px;
    height: 350px;
    transform: translateX(-100%) translateY(-100%);
    top : 100%;
  }
}

@media (min-width : 1440px){
  .StatView {
    width : 400px;
    height: 400px;
    transform: translateX(-100%) translateY(-80%);
    top : 80%;
  }
}

.StatView img {
  position: absolute;
  width : 100%;
  height : 100%;
  object-fit: contain;
  z-index : 50;
}

.StatsCont {
  position: relative;
  z-index : 50;
}

@media (max-width : 1439px) {
  .Stat_Name {
    font-size: 15px;
  }
}

@media (min-width : 1440px) {
  .Stat_Name {
    font-size: 15px;
  }
}


.StatsCont p {
  font-size: 25px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Stat_Bar {
  background-color: grey;
  border-color: rgb(56, 56, 56);
  border-width: 2px;
  border-style: solid;
}

@media (max-width : 767px) {
  .Stat_Bar {
    height : 10px;
    width : 75px;
  }
}

@media (min-width : 768px) {
  .Stat_Bar {
    height : 20px;
    width : 150px;
  }
}

.Stat_Amount {
  height : 100%;
  background-color: rgb(87, 157, 236);
}




.LevelBar {
  border: 5px solid black;
  background-color: grey;
  height : 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.LevelAmount {
  background-color: rgb(87, 157, 236);
  height: 100%;
}

.QuestLogBackground {
  width : 100vw;
  height : 100vh;
  position: fixed;
  top : 0;
  left : 0;
  background-color: rgb(0, 0, 0, 0.8);
  z-index : 25;
}

@media (max-width : 1439px) {
  .ContinueButton {
    top : 125px;
    left : 95%;
    transform: translateX(-95%);
    width : 75px;
    height : 45px;
  }
}

@media (min-width : 1440px) {
  .ContinueButton {
    bottom : 15px;
    left : 15px;
    width : 100px;
    height : 50px;
  }
}


.ContinueButton {
  position: fixed;
  background-color: blueviolet;
  color: white;
  font-family: KHFont;
  font-size: 25px;
  border-color: transparent;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.8);
}

.loadingscreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width : 1439px) {
  .loadingscreen img{
      width: 50%;
      height : 50%;
  }
}

@media (min-width : 1440px) {
  .loadingscreen img{

  }
}

.ContinueButton:hover {
  color : grey;
  background-color: rgb(98, 3, 186);
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Vertical scrollbar */
  height: 10px; /* Horizontal scrollbar */
}

/* Track (the area where the scrollbar sits) */
::-webkit-scrollbar-track {
  background: rgb(30, 30, 30, 1); /* Light gray background */
  border-radius: 5px;
}

/* Scrollbar Handle (the moving part) */
::-webkit-scrollbar-thumb {
  background: #555; /* Darker gray */
  border-radius: 5px;
  min-width: 5px;
  max-width: 10px;

}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #afafaf; /* Even darker on hover */
}
