<div class="NavBar">
    <div class="NavBarContainer">
      <button class="DrawerTrigger" (click)="updateDrawerVisibility()">
        <div class="DrawerTriggerContainer">
          <div class="DrawerLine"></div>
          <div class="DrawerLine"></div>
          <div class="DrawerLine"></div>
        </div>
      </button>

      <div class="SiteLogoContainer">
          <img src="/MyRPG.png">
      </div>
    </div>

    <div *ngIf="user != null" class="iconandcategory">
      <a [routerLink]="'/adventurer/' + user.id">
      <button class="userbutton">
        <div class="iconcontainer">
          <img [src]="user.profilePic" />
        </div>
      </button>
      </a>
    </div>
</div>
<div class="NavBarSeparator"></div>

<div *ngIf="drawerVisibility === true" class="Drawer">
  <div class="Background" (click)="updateDrawerVisibility()"></div>
  <div class="OuterDrawerContainer">
    <div class="InnerDrawerContainer">
      <a routerLink="/adventurers">
        <button class="DrawerItem" >Adventurers</button>
      </a>

      <a routerLink="/signup">
        <button class="DrawerItem" *ngIf="user == null">Signup</button>
      </a>

      <a routerLink="/login">
        <button class="DrawerItem" *ngIf="user == null">Login</button>
      </a>

      <button class="DrawerItem" *ngIf="user != null" (click)="logoutSubmitHandler()">Logout</button>

      <a routerLink="/newquest">
        <button class="DrawerItem" *ngIf="user != null">New Quest</button>
      </a>

      <a routerLink="/followed">
        <button class="DrawerItem" *ngIf="user != null">Quest Board</button>
      </a>
    </div>
  </div>
</div>
