@font-face {
  font-family: KHFont;
  src: url('../../assets/fonts/Kingdom_Hearts_Font.ttf');
}

.NavBar {
  width : 100%;
  background-color: rgb(27, 27, 27);
  display : flex;
  flex-direction: column;
  align-items: center;
  position : fixed;
  top : 0px;
  left : 0px;
  z-index : 20000000000000000;
}

@media (max-width : 767px) {
  .NavBar {
    height : 50px;
  }
}

@media (min-width : 768px) {
  .NavBar {
    height : 100px;
  }
}

.NavBarContainer {
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.SiteLogoContainer {
    width : 20%;
    height : 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Centers it exactly */
}


.SiteLogoContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.NavBarSeparator {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;
    margin-bottom: 10px;
    position: fixed;
    top: 100px;
    z-index : 10000000000000;
}

@media (max-width : 767px) {
  .NavBarSeparator {
    top : 50px;
  }
}

@media (min-width : 768px) {
  .NavBarSeparator {
    top : 100px;
  }
}

.DrawerTrigger {
  border-color: transparent;
  background-color: transparent;
}

.DrawerLine {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

@media (max-width : 767px) {
  .DrawerLine {
    padding: 1px 15px 1px 15px;
  }
}

@media (min-width : 768px) {
  .DrawerLine {
    padding: 5px 30px 5px 30px;
  }
}

.Drawer {
  position: fixed;
  width : 100%;
  height : 100%;
  z-index : 1000;
  top: 0px;
  left: 0px;
  z-index : 1000000000;
}

@media (max-width : 767px) {
  .Drawer  {
    top : -50px;
  }
}

@media (min-width : 768px) {
  .Drawer  {
    top : 0px;
  }
}

.Background {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  margin-top: 50px;
}

.OuterDrawerContainer {
  background-color: black;

  height: 100%;
  position: absolute;
  top: 100px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width : 767px) {
  .OuterDrawerContainer  {
    width : 50%;
  }
}

@media (min-width : 768px) {
  .OuterDrawerContainer  {
    width : 30%;
  }
}

.InnerDrawerContainer {
  width : 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.DrawerItem {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: KHFont;

}

@media (max-width : 767px) {
  .DrawerItem {
    font-size: 30px;
  }
}

@media (min-width : 768px) {
  .DrawerItem {
    font-size: 50px;
  }
}

.iconandcategory {
  display : flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  left: 98%;
  transform: translateX(-98%);
  font-size: 25px;
  margin-left: 1%;
  margin-top: 15px;
  margin-bottom: 15px;
  top : -12px;
}

.iconcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  margin-right: 1%;
}

@media (max-width : 767px) {
  .iconcontainer {
    width : 40px;
    height : 40px;
  }
}

@media (min-width : 768px) {
  .iconcontainer {
    width : 80px;
    height : 80px;
  }
}


.iconcontainer img {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width : 100%;
  height : 100%;
  object-fit: contain;
}



.DrawerItem:hover {
  color: blueviolet;
}

.userbutton {
  background-color: transparent;
  border-color: transparent;
}

.logout {

}
